body {
  margin: 0;
}

.container {
  display: flex;
}

.column {
  margin: 0px auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.gutter {
  width: 40px;
  flex-grow: 1;
  flex-shrink: 0;
}

.main {
  width: 682px;
  flex-shrink: 1;
}

.workspace, .facets, .gutter {
  display: none;
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {
  .container {
    margin: 0 24px;
  }

  .facets {
    display: block;
    width: 244px;
  }

  .gutter-left {
    display: block;
  }
}

@media only screen and (min-width: 1280px) {
  .workspace {
    display: block;
    min-width: 400px;
  }

  .gutter-right {
    display: block;
  }
}

@media only screen and (min-width: 1440px) {
  .facets {
    width: 348px;
  }
}

@media only screen and (min-width: 1600px) {
  .facets {
    width: 400px;
  }
}

@media only screen and (min-width: 1720px) {
  .workspace {
    width: 504px;
  }
}